In [3]:
import pandas as pd
import numpy as np
rng=np.random.RandomState(100) #Tạo một mảng NumPy ngẫu nhiên cố định
arr1=rng.randint(0,10,4) #mảng NumPy 1 chiều 4 số ngẫu nhiên từ 0->10 
arr2=rng.randint(0,10,(3,4)) #mảng 2 chiều 3x4 các số ngẫu nhiên từ 0->10, k lấy 10
sr=pd.Series(arr1) #Tạo một Series Pandax từ mảng Numpy arr1 
df=pd.DataFrame(arr2,columns=['A','B','C','D']) #Tạo DataFrame từ arr2print("Series:\n",sr)
print("DataFrame:\n",df)

DataFrame:
    A  B  C  D
0  7  0  4  2
1  5  2  2  2
2  1  0  8  4

In [5]:
#Ví dụ 4.5.1.2 #Số liệu top 5 dân số tỉnh thành Việt Nam
population = pd.Series({'TP.Hồ Chí Minh':9411805,  
                        'Hà Nội':8330830,
                        'Thanh Hóa':3720000,
                        'Nghệ An':3410000,
                        'Đồng Nai':3097107})
#Số liệu về top 5 diện tích tỉnh/thành Việt Nam
area=pd.Series({'Nghệ An':16493,
                'Gia Lai':15536.9,
                'Sơn La':14174.4,
                'Đăk Lăk':13030.5,
                'Thanh Hóa':11132.2})
print("Top 5 tỉnh/tp đông dân nhất Việt Nam 2023:\n",population) 
print("Top 5 tỉnh/tp diện tích lớn nhất Việt Nam 2023:\n",area)

Top 5 tỉnh/tp đông dân nhất Việt Nam 2023:
 TP.Hồ Chí Minh    9411805
Hà Nội            8330830
Thanh Hóa         3720000
Nghệ An           3410000
Đồng Nai          3097107
dtype: int64
Top 5 tỉnh/tp diện tích lớn nhất Việt Nam 2023:
 Nghệ An      16493.0
Gia Lai      15536.9
Sơn La       14174.4
Đăk Lăk      13030.5
Thanh Hóa    11132.2
dtype: float64

In [7]:
density = area/population
print("Mật độ dân số tỉnh/thành :\n", density)

Mật độ dân số tỉnh/thành :
 Gia Lai                NaN
Hà Nội                 NaN
Nghệ An           0.004837
Sơn La                 NaN
TP.Hồ Chí Minh         NaN
Thanh Hóa         0.002993
Đăk Lăk                NaN
Đồng Nai               NaN
dtype: float64

In [8]:
#Tạo 2 Series A, B và tính tổng các giá trị
A=pd.Series([1,3,5],index=[0,1,2])
B=pd.Series([2,4,6],index=[1,2,3])
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [9]:
#Sử dụng ufuncs, truyền tham số fill_value vào.
A.add(B,fill_value=0)

0    1.0
1    5.0
2    9.0
3    6.0
dtype: float64

In [15]:
#Tạo 2 DataFrame Adf, Bdf và tính tổng các giá trị
import pandas as pd
import numpy as np
Adf=pd.DataFrame(np.random.randint(0,10,(2,2)), columns=['A','B']) 
Bdf=pd.DataFrame(np.random.randint(0,10,(3,3)),columns=['B','A','C'])
print("Adf:\n",Adf)
print("Bdf:\n",Bdf)
print("\nAdf+Bdf: \n", Adf+Bdf)

Adf:
    A  B
0  7  1
1  5  9
Bdf:
    B  A  C
0  3  5  6
1  4  8  1
2  1  4  1

Adf+Bdf:
       A     B   C
0  12.0   4.0 NaN
1  13.0  13.0 NaN
2   NaN   NaN NaN

In [16]:
print("Adf+Bdf(filled A):\n", Adf.add(Bdf,fill_value=0))

Adf+Bdf(filled A):
       A     B    C
0  12.0   4.0  6.0
1  13.0  13.0  1.0
2   4.0   1.0  1.0

In [21]:
arr = np.random.randint(10,size=(3,4))
arr

array([[0, 6, 2, 5],
       [8, 2, 8, 4],
       [5, 4, 8, 9]])

In [22]:
arr-arr[0]

array([[ 0,  0,  0,  0],
       [ 8, -4,  6, -1],
       [ 5, -2,  6,  4]])

In [23]:
#Tạo DataFrame df từ mảng NumPy với các cột là P, Q, M, N
df = pd.DataFrame(arr,columns=['P','Q','M','N']) 
print("df:\n",df)
#Tính toán hiệu của df với phần tử tương ứng trong hàng đầu của nó
df-df.iloc[0]

df:
    P  Q  M  N
0  0  6  2  5
1  8  2  8  4
2  5  4  8  9

   P  Q  M  N
0  0  0  0  0
1  8 -4  6 -1
2  5 -2  6  4

In [25]:
#trừ cac phần tử trong df với côtj Q
print("df1:\n", df.subtract(df['Q'],axis=0))
# nhan các phần tử tương ứng của df với cột N
print("df2:\n", df.multiply(df['N'],axis=0))

df1:
    P  Q  M  N
0 -6  0 -4 -1
1  6  0  6  2
2  1  0  4  5
df2:
     P   Q   M   N
0   0  30  10  25
1  32   8  32  16
2  45  36  72  81

In [ ]:
even=df[df]