In [13]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(4,2),
                  index=[['a','a','b','b'],[1,2,1,2]],
                  columns=['data1','data2'])
df

        data1     data2
a 1  0.928601  0.921752
  2  0.306739  0.239860
b 1  0.052575  0.763317
  2  0.954271  0.996931

In [9]:
idx_arr=[['a','a','b','b'],[1,2,1,2]]
data = np.random.rand(4,3)

multi_index= pd.MultiIndex.from_arrays(idx_arr,names = ['data1','data2'])
                                       
df=pd.DataFrame(data,index = multi_index,columns=['Value1','Value2','Value3'])


df

               Value1    Value2    Value3
data1 data2
a     1      0.391089  0.443040  0.220783
      2      0.233761  0.055921  0.480867
b     1      0.615782  0.872988  0.266811
      2      0.448826  0.693972  0.695596

In [20]:
idx_tuples=[('a',1),('a',2),('b',1),('b',2)]
data=np.random.rand(4,3)
df = pd.DataFrame(data,index=idx_tuples,
                  columns=['Value1','Value2','Value3'])

df

          Value1    Value2    Value3
(a, 1)  0.447083  0.228965  0.679037
(a, 2)  0.004496  0.650293  0.680846
(b, 1)  0.898867  0.518304  0.149629
(b, 2)  0.711013  0.413708  0.369334

In [ ]:
arr1 = ['a','b']
arr2 = [1, 2, 3]
multi_idx=pd.MultiIndex.from_product([arr1,arr2],  names=['key1','key2']) 

df = pd.DataFrame(np.random.rand(9,3),
                  index = multi_idx,
                  columns = ['Value1', 'Value2', 'Value3'])

df