In [11]:
import pandas as pd
#Tuples đại diện cho tỉnh thành phố - Năm tương ứng
index=[ ('Hà Nội',2015),('Hà Nội',2020),
        ('Nam Định',2015),('Nam Định',2020),
        ('Thanh Hóa',2015),('Thanh Hóa',2020),
        ('Đà Nẵng',2015),('Đà Nẵng',2020),
        ('Hồ Chí Minh',2015),('Hồ Chí Minh',2020)]
data=[  7216000, 8246540,
        1850600, 1780330,
        3514200, 3664940,
        1028800, 1169480,
        8146300, 9227600]
vn_pop = pd.Series(data, index=index)
vn_pop

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [12]:
idx=pd.MultiIndex.from_tuples(index,
names=['Tỉnh/TP','Năm'])
vn_pop = vn_pop.reindex(idx)

In [13]:
print(type(vn_pop))
vn_pop_df=vn_pop.unstack(level=0)

print("Unstack level 0: \n", vn_pop_df)

print(type(vn_pop_df))

<class 'pandas.core.series.Series'>
Unstack level 0:
 Tỉnh/TP   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015     7216000      8146300   1850600    3514200  1028800
2020     8246540      9227600   1780330    3664940  1169480
<class 'pandas.core.frame.DataFrame'>

In [14]:
print("\nUnstack level 1: \n", vn_pop.unstack(level=1))

Unstack level 1:
 Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [8]:
print("vn_pop: \n", vn_pop)

print("\n vn_pop unstack => stack: \n",vn_pop.unstack(level=1).stack())

vn_pop:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

 vn_pop unstack => stack:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [9]:
print("vn_pop_df DataFrame :\n", vn_pop_df)
print("\nvn_pop_df sau khi reset index :\n",vn_pop_df.reset_index())

vn_pop_df DataFrame :
 Tỉnh/TP   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015     7216000      8146300   1850600    3514200  1028800
2020     8246540      9227600   1780330    3664940  1169480

vn_pop_df sau khi reset index :
 Tỉnh/TP   Năm   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
0        2015  7216000      8146300   1850600    3514200  1028800
1        2020  8246540      9227600   1780330    3664940  1169480

In [10]:
print("vn_pop_df DataFrame :\n", vn_pop_df)
print("\nvn_pop_df sau khi reset index :\n",vn_pop_df.reset_index())

vn_pop_df DataFrame :
 Tỉnh/TP   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015     7216000      8146300   1850600    3514200  1028800
2020     8246540      9227600   1780330    3664940  1169480

vn_pop_df sau khi reset index :
 Tỉnh/TP   Năm   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
0        2015  7216000      8146300   1850600    3514200  1028800
1        2020  8246540      9227600   1780330    3664940  1169480

ví dụ 4.6.5
tính điểm tb của từng học sinh

In [15]:
score.mean(level='Năm')

NameError: name 'score' is not defined