In [2]:
import pandas as pd
#Tuples đại diện cho tỉnh thành phố - Năm tương ứng
index=[ ('Hà Nội',2015),('Hà Nội',2020),
        ('Nam Định',2015),('Nam Định',2020),
        ('Thanh Hóa',2015),('Thanh Hóa',2020),
        ('Đà Nẵng',2015),('Đà Nẵng',2020),
        ('Hồ Chí Minh',2015),('Hồ Chí Minh',2020)]
data=[  7216000, 8246540,
        1850600, 1780330,
        3514200, 3664940,
        1028800, 1169480,
        8146300, 9227600]
vn_pop = pd.Series(data, index=index)
vn_pop

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

chuyển 1 seriea thành series đa cấp

In [8]:
# tạo multiindex từ tuples
idx==pd.MultiIndex.from_tuples(vn_pop.index,names=['Tỉnh/Thành phố','Năm'])
#reindex lại series vn_pop ở trên bằng multiindex mới

vn_pop=vn_pop.reindex(idx)
vn_pop

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [3]:
idx=pd.MultiIndex.from_tuples(index,
names=['Tỉnh/TP','Năm'])
idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

In [4]:
vn_pop

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [5]:
print('Dân số TP Hồ Chí Minh năm 2015 là:',vn_pop['Hồ Chí Minh',2015])

Dân số TP Hồ Chí Minh năm 2015 là: 8146300

In [9]:

print("Dân số tỉnh Nam Định trong các năm 2015, 2020 là:\n",vn_pop['Nam Định'])

Dân số tỉnh Nam Định trong các năm 2015, 2020 là:
 Năm
2015    1850600
2020    1780330
dtype: int64

In [ ]:
#Sử dụng mask
print("Tỉnh/Thành phố có dân số lớn hơn 5 triệu: \n",vn_pop[vn_pop >5000000]) #Sử dụng Fancy Indexing
print("Dân số Hà Nội và Đà Nẵng: \n", vn_pop[['Hà Nội', 'Đà Nẵng']])