In [1]:
import pandas as pd

In [2]:
sr1 = pd.Series(['Đ','H','K','T'],index=[1,2,3,4]) 
sr2 = pd.Series(['K','T','C','N'],index=[5,6,7,8]) 
pd.concat([sr1,sr2])

1    Đ
2    H
3    K
4    T
5    K
6    T
7    C
8    N
dtype: object

Nối 2 dataframe

In [4]:
#Ghép 2 DataFrame
A=pd.DataFrame([['A0','B0'],['A1','B1']],columns=['A','B']) 
B=pd.DataFrame([['A2','B2'],['A3','B3']],columns=['A','B']) 
print(A,'\n')
print(B)
print("\nNối A và B theo hàng: \n", pd.concat([A,B]))
print("\nNối A và B theo cột:\n", pd.concat([A,B], axis = 1))

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

Nối A và B theo hàng:
     A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

Nối A và B theo cột:
     A   B   A   B
0  A0  B0  A2  B2
1  A1  B1  A3  B3

In [5]:
#ghép 2 df với ignore_index=True
pd.concat([A,B],ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [ ]:
#ghép 2 df có ktra index trùng lặp
pd.concat([A,B],verify_integrity=True)

Nếu ta muốn đặt nhãn cho từng object thêm vào để tiện phân biệt thì khi đóta sẽ cần đến tham số keys

In [10]:
print("A:\n",A)
print("\nB:\n",B)
pd.concat([A,B],keys=['Data A','Data B'])

A:
     A   B
0  A0  B0
1  A1  B1

B:
     A   B
0  A2  B2
1  A3  B3

           A   B
Data A 0  A0  B0
       1  A1  B1
Data B 0  A2  B2
       1  A3  B3

Phương thức append() kết nối (concatenate) các đối tượng DataFrame hoặc Series
• Append() thêm các hàng hoặc cột từ một đối tượng DataFrame hoặc Series vào cuối một đối tượng DataFrame khác

In [11]:
print("\n Thêm (append) B vào A: \n", A.append(B))

AttributeError: 'DataFrame' object has no attribute 'append'