In [3]:
#One-to-one joins
import pandas as pd

df1=pd.DataFrame(
 {
 'Nhân viên':['Bình','Minh','Lan','Vân'],
 'Phòng/Ban':['Kế toán','Kỹ thuật','Kỹ thuật','HCQT']  }
)
df2=pd.DataFrame(
 {
 'Nhân viên':['Bình','Minh','Lan','Vân'],
 'Năm':[2020,2010,2004,2011]
 }
)
print("Dữ liệu df1:\n",df1)
print("\n Dữ liệu df2:\n",df2)
nhanvien=pd.merge(df1,df2) #nhanvien ~ df3
print(nhanvien)

Dữ liệu df1:
   Nhân viên Phòng/Ban
0      Bình   Kế toán
1      Minh  Kỹ thuật
2       Lan  Kỹ thuật
3       Vân      HCQT

 Dữ liệu df2:
   Nhân viên   Năm
0      Bình  2020
1      Minh  2010
2       Lan  2004
3       Vân  2011
  Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011

kết nối one-to-Many giữa DataFrame Quản lý và DataFrame Nhân viên.Một quản lý có thể có nhiều nhân viên. Nhưng, mỗi nhân viên chỉ có 1 quản lý(trong một phòng)

In [15]:
#One – to - Many
quanly=pd.DataFrame(
 {
 'Phòng/Ban':['Kế toán','Kỹ thuật','HCQT'],  'Quản lý':['Ly','Cường','Minh']
 }
)
print("\n df3 :\n",nhanvien) ; print(quanly) 
#Quan hệ One-to_Many giữa Quản lý và Nhân viênprint("\nMerrge Quản lý & Nhân viên :\n",
pd.merge(nhanvien,quanly)

 df3 :
   Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011
  Phòng/Ban Quản lý
0   Kế toán      Ly
1  Kỹ thuật   Cường
2      HCQT    Minh

  Nhân viên Phòng/Ban   Năm Quản lý
0      Bình   Kế toán  2020      Ly
1      Minh  Kỹ thuật  2010   Cường
2       Lan  Kỹ thuật  2004   Cường
3       Vân      HCQT  2011    Minh

Quan hệ many-to-one (n-1) về cơ bản là ngược lại với quan hệ one-to-many (1-n).
• Phép nối nhiều-một (many-to-one) là phép nối trong đó một trong hai cột khóa(key) chứa các thực thể trùng lặp.
• Đối với trường hợp “many-to-one”, DataFrame kết quả sẽ duy trì các thực thểtrùng lặp đó khi thích hợp.

In [16]:
quanly=pd.DataFrame({'Phòng/Ban':['Kế toán','Kỹ thuật','HCQT'],  
                     'Quản lý':['Ly','Cường','Ban']}) 
print(nhanvien); print("\n quanly :\n",quanly)
print("\nMerge nhanvien & quanly : \n",pd.merge(nhanvien,quanly))

  Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011

 quanly :
   Phòng/Ban Quản lý
0   Kế toán      Ly
1  Kỹ thuật   Cường
2      HCQT     Ban

Merge nhanvien & quanly :
   Nhân viên Phòng/Ban   Năm Quản lý
0      Bình   Kế toán  2020      Ly
1      Minh  Kỹ thuật  2010   Cường
2       Lan  Kỹ thuật  2004   Cường
3       Vân      HCQT  2011     Ban

Tham số on, left_on và right_on:
 Sử dụng tham số on khi muốn chỉ định cột khóa (key column) khi ghép cácDataFrame lại với nhau.
 Điều kiện để sử dụng được tham số on là cả 2 đối tượng DataFrame phải có 2cột cùng tên.

In [17]:
pd.merge(df1,df2,on='Nhân viên')

  Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011

In [7]:
nv_salary=pd.DataFrame(
   { 'names':['Bình','Minh','Lan','Vân'],
     'salary':[7000000,9000000,9500000,8000000]}
   )
print("Lương nv ứng với từng lĩnh vực:\n",
   pd.merge(df1,nv_salary,left_on='Nhân viên',  
                          right_on='names'))

Lương nv ứng với từng lĩnh vực:
   Nhân viên Phòng/Ban names   salary
0      Bình   Kế toán  Bình  7000000
1      Minh  Kỹ thuật  Minh  9000000
2       Lan  Kỹ thuật   Lan  9500000
3       Vân      HCQT   Vân  8000000

In [9]:
df1_idx=df1.set_index('Nhân viên')
df2_idx=df2.set_index('Nhân viên')
df3_idx=pd.merge(df1_idx,df2_idx,left_index=True,  right_index=True) 
df3_idx

          Phòng/Ban   Năm
Nhân viên
Bình        Kế toán  2020
Minh       Kỹ thuật  2010
Lan        Kỹ thuật  2004
Vân            HCQT  2011

In [10]:
pd.merge(df2_idx,nv_salary, left_index=True,right_on='names')

    Năm names   salary
0  2020  Bình  7000000
1  2010  Minh  9000000
2  2004   Lan  9500000
3  2011   Vân  8000000

In [11]:
df1_idx.join(df2_idx)

          Phòng/Ban   Năm
Nhân viên
Bình        Kế toán  2020
Minh       Kỹ thuật  2010
Lan        Kỹ thuật  2004
Vân            HCQT  2011

Bổ sung thêm 2 DataFrame là nv_location lưu giữ ‘nơi sinh’ của các
nhân viên và nv_age lưu trữ tuổi của các nhân viên như sau:

In [12]:
nv_location=pd.DataFrame(
 {
 'Nhân viên':['Bình', 'Minh','Lan'],
 'Nơi sinh':['Hà Nội','Hồ Chí Minh','Nam định']  }
)
nv_age=pd.DataFrame(
 {
 'Nhân viên':['Bình','Vân','Lan'],
 'Age':[22,23,25]
 }
)
print("\nNơi sinh và tuổi của nv:\n",
 pd.merge(nv_location,nv_age))

Nơi sinh và tuổi của nv:
   Nhân viên  Nơi sinh  Age
0      Bình    Hà Nội   22
1       Lan  Nam định   25

chỉ có 2 nv là Bình và Lan do chỉ có dữ liệu của 2người đầy đủ. Chúng ta có thể chỉ định kiểu ghép này rõ ràng bằng cách dùng thamsố how='inner':

In [13]:
print("\nNơi sinh và tuổi của nv:\n",
 pd.merge(nv_location,nv_age, how='inner'))

Nơi sinh và tuổi của nv:
   Nhân viên  Nơi sinh  Age
0      Bình    Hà Nội   22
1       Lan  Nam định   25

Muốn output chứa toàn bộ dữ liệu từ 2 DataFrame có thể dùng tham sốhow='outer', khi đó các dữ liệu bị thiếu sẽ được điền giá trị NA tương ứng,trong trường hợp này là NaN:

In [14]:
print("\nNơi sinh và tuổi của nv:\n",
 pd.merge(nv_location,nv_age, how='outer'))

Nơi sinh và tuổi của nv:
   Nhân viên     Nơi sinh   Age
0      Bình       Hà Nội  22.0
1      Minh  Hồ Chí Minh   NaN
2       Lan     Nam định  25.0
3       Vân          NaN  23.0

Sử dụng dùng tham số how='left' hoặc how='right' : chỉ định output phụthuộc tương ứng vào DataFrame bên trái hoặc bên phải.

In [16]:
print("\nNơi sinh và tuổi của nv:\n",
 pd.merge(nv_location,nv_age, how='left')) 
print("\nNơi sinh và tuổi của nv:\n",
 pd.merge(nv_location,nv_age, how='right'))

Nơi sinh và tuổi của nv:
   Nhân viên     Nơi sinh   Age
0      Bình       Hà Nội  22.0
1      Minh  Hồ Chí Minh   NaN
2       Lan     Nam định  25.0

Nơi sinh và tuổi của nv:
   Nhân viên  Nơi sinh  Age
0      Bình    Hà Nội   22
1       Vân       NaN   23
2       Lan  Nam định   25

Tham số suffixes
Trường hợp dữ liệu của người dùng có 2 cột trùng tên nhưng không tương tự vềmục đích (xung đột) thì khi ghép 2 DataFrame lại thì Pandas sẽ tự động thêmhậu tố tương ứng để phân biệt,

In [17]:
vang_rank=pd.DataFrame(
 {
 'Nhân viên':['Bình','Lan','Minh','Vân'],  'rank':[1,2,3,4]
 }
)
hs_rank=pd.DataFrame(
 {
 'Nhân viên':['Bình','Lan','Minh','Vân'],  'rank':[4,3,1,2]
 }
)
print("Xếp hạng trên số ngày nghỉ:\n",vang_rank) 
print("Xếp hạng trên hiệu suất công việc:\n",hs_rank) 
print("\nBảng xếp hạng :\n",pd.merge(vang_rank,hs_rank,  on='Nhân viên'))

Xếp hạng trên số ngày nghỉ:
   Nhân viên  rank
0      Bình     1
1       Lan     2
2      Minh     3
3       Vân     4
Xếp hạng trên hiệu suất công việc:
   Nhân viên  rank
0      Bình     4
1       Lan     3
2      Minh     1
3       Vân     2

Bảng xếp hạng :
   Nhân viên  rank_x  rank_y
0      Bình       1       4
1       Lan       2       3
2      Minh       3       1
3       Vân       4       2

Tuỳ chỉnh hậu tố ‘_x’, ‘_y’ bằng cách sử dụng tham số suffixes như sau:

In [18]:
print("\nBảng xếp hạng :\n",pd.merge(vang_rank,hs_rank,  on='Nhân viên',
 suffixes=['(Ngày vắng)','(Hiệu suất)']))

Bảng xếp hạng :
   Nhân viên  rank(Ngày vắng)  rank(Hiệu suất)
0      Bình                1                4
1       Lan                2                3
2      Minh                3                1
3       Vân                4                2